OnlyService_and_FUSE/CustomerWS/src/main/resources/wsdl/customerWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions  name="customerWS" targetNamespace="http://learn.cinimex.ru/CustomerWS/service"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://learn.cinimex.ru/CustomerWS/service"
    xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cust="http://learn.cinimex.ru/CustomerWS/customer">

    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://learn.cinimex.ru/CustomerWS/customer" schemaLocation="xsd/customer.xsd"/>
        </xs:schema>
    </types>





    <message name="CreateCustomerRequest">
        <part name="date_for_Customer" type="cust:Customers"></part>
    </message>

    <message name="CreateCustomerResponse">
        <part name="customersResult" type="cust:CustomersResult"></part>
    </message>


    <message name="getRequest">
        <part name="phoneList" type="cust:phoneList"></part>
    </message>

    <message name="getResponse">
        <part name="customersResult" type="cust:CustomersResult"></part>
    </message>





    <portType name="ICustomerWS">
        <operation name="createCustomer">
            <input message="tns:CreateCustomerRequest"></input>
            <output message="tns:CreateCustomerResponse"></output>
        </operation>
        <operation name="getCustomerByPhone">
            <input message="tns:getRequest"></input>
            <output message="tns:getResponse"></output>
        </operation>
    </portType>




    <binding name="Name_Binding" type="tns:ICustomerWS">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="createCustomer">
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="getCustomerByPhone">
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>



    <service name="Customer_ServiceClient">
        <port name="CustomerWS" binding="tns:Name_Binding">
            <soap:address
                location="http://localhost:8181/cxf/CustomerWS" />
        </port>
    </service>
</definitions>
