project2/model/src/main/resources/ru/cinimex/learn/model/wsdl/customerWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions name="customerWS" targetNamespace="http://learn.cinimex.ru/CustomerWS/service"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://learn.cinimex.ru/CustomerWS/service"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:cust="http://learn.cinimex.ru/CustomerWS/customer">

    <types>
        <xs:schema targetNamespace="http://learn.cinimex.ru/CustomerWS/customer" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns="http://learn.cinimex.ru/CustomerWS/customer">

            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This schema describes the class "Customer_type"
                </xs:documentation>
            </xs:annotation>

            <!--Customer-->
            <xs:element name="customer" type="customer_type"/>
            <xs:complexType name="customer_type">
                <xs:sequence>
                    <xs:element name="firstName" >
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="lastName">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="middleName" type="xs:string" minOccurs="0"/>
                    <xs:element name="phone" type="xs:long" minOccurs="0"/>
                    <xs:element name="email" type="xs:string" minOccurs="0"/>
                    <xs:element name="customer_id" type="xs:int" minOccurs="0"/>
                    <xs:element name="customer_status" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>




            <!--Customers-->
            <xs:element name="Customers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customers" type="customer_type" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--PhoneList-->
            <xs:element name="PhoneList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="phones" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>


        </xs:schema>
    </types>


    <message name="CreateCustomerRequest">
        <part name="date_for_Customer" element="cust:Customers"></part>
    </message>

    <message name="CreateCustomerResponse">
        <part name="customersResult" element="cust:Customers"></part>
    </message>


    <message name="getRequest">
        <part name="phoneList" element="cust:PhoneList"></part>
    </message>

    <message name="getResponse">
        <part name="customersResult" element="cust:Customers"></part>
    </message>


    <portType name="ICustomerWS">
        <operation name="createCustomer">
            <input message="tns:CreateCustomerRequest"></input>
            <output message="tns:CreateCustomerResponse"></output>
        </operation>
        <operation name="getCustomerByPhone">
            <input message="tns:getRequest"></input>
            <output message="tns:getResponse"></output>
        </operation>
    </portType>


    <binding name="Name_Binding" type="tns:ICustomerWS">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createCustomer">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="getCustomerByPhone">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>


    <service name="Customer_ServiceClient">
        <port name="CustomerWS" binding="tns:Name_Binding">
            <soap:address
                    location="http://localhost:8181/cxf/CustomerWS"/>
        </port>
    </service>
</definitions>
